spring:
  application:
    name: ToDo

  datasource:
    #    url: jdbc:h2:mem:testdb      # 메모리모드
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password:
    driverClassName: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show-sql: true
        format_sql: true
  h2:
    console:
      enabled: true               # 웹 콘솔 열기
      path: /h2-console           # 접속 경로

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
